body {
    padding-top: 5rem;
}
.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    background-color: white;
}
.imgs{
    object-fit: contain;
    width: 100%;
    height: 100%;
}